<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-name>My_first_servlet</servlet-name>
  <servlet-class>com.basic.service.MyFirstServlet</servlet-class>
  </servlet>
  
    <servlet>
  <servlet-name>Student_servlet</servlet-name>
  <servlet-class>com.basic.service.StudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>My_first_servlet</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  <servlet-name>Student_servlet</servlet-name>
  <url-pattern>/SaveStudent</url-pattern>
  </servlet-mapping>
</web-app>
